#team{
    padding-top: 90px;
}
.team_title-prev{
    font-size: 24px;
    font-family: 'Kaushan Script';
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.team_title{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
}


.team_title-after{
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 0px 125px 95px 125px;
    color: #999999;
    line-height: 25px;
}