html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    width: 1600px;
    margin: 0 auto;
}
main{
    background-color: #e9f0fd;
}

/*Head*/
.header{
    width: 1170px;
    height: 91px;
    margin: 0 auto;
    background-color: #fff;
}
.logo{
    float: left;
    margin-left: 30px;
    margin-top: 34px;
}

.menu li{
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 34px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu a:hover{
    color: #57ceb6;
}
.menu li a{
    color: #0f0101;
    width: 90px;
    text-align: center;
    padding: 0px 15px;
}

a{
    text-decoration: none;
}
.menu{
    float: right;
}
/*Head*/

/*slider*/
.slider{
    width: 1600px;
    height: 600px;
    position: relative;
    margin-bottom: 100px;
    padding: 0;
}
.slider svg{
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
}

button{
    background-color: #55a190;
    width: 104px;
    height: 104px;
    z-index: 793;
    border: 0;
    opacity: 0.61;
    cursor: pointer;
}
.button_left{
    left: 245px;
    top: 225px;
    position: absolute;
  
}
.button_right{
    right: 245px;
    top: 225px;
    position: absolute;
}
button svg {
    fill: #fff;
}
.button_left svg{
    transform: rotate(180deg);
}
.slides{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.slides_item{
    position: relative;
}

.slide_head{
    position: absolute;
    left: 430px;
    top: 192px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}
.slide_info{
    position: absolute;
    left: 431px;
    bottom: 278px;
    display: inline-block;
    list-style: none;
    
    
}
.slide_info a{
    text-transform: uppercase;
    list-style: none;
    color: #fff;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*slider*/

/*products*/
.new_collection{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hr{
    width: 160px;
    height: 10px;
    background-color: #1abc9c;
    border:none;
    margin: 0 auto;
    margin-bottom: 80px;
    }
.products{
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: #e9f0fd;
}
.name{
    width: 200px;
    height: 40px;
    background-color: #323232;
    padding: 10px 40px 10px 15px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
}

.price{
    width: 55px;
    height: 40px;
    text-align: center;
    background-color: #8c8c8c;
    padding: 10px 15px 10px 12px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    right: 0;
}
.item{
    height: 324px;
    width: 255px;
    position: relative;
    float: left;
    margin-left: 30px;
    margin-bottom: 100px;
}
.item a{
    color: #fff;
}

.footer{
    background-color: #323232;
    color: #fff;
    height: 90px;
    text-align: center;
    position: relative
    
}

.design{
    position: absolute;
    bottom: 35px;
    left: 595px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.color_text{
    color: #46bfa9;
}
/*products*/

/*overlay*/
.overlay{
    outline:10px solid rgb(255, 255, 255,0.592);
    background-color: rgb(0, 0, 0, 0.592);
    width: 235px;
    height: 264px;
    position: absolute;
    opacity: 0;
    top:10px;
    left:10px ;
    }
  
.btn_left {
    display: block;
    width: 46px;
    height: 46px;
    border: 2px solid white;
    position: absolute;
    top: 79px;
    left: 45px;
}
.btn_center {
    display: block;
    width: 46px;
    height: 46px;
    border: 2px solid white;
    position: absolute;
    left:105px;
    top:79px;
}
.btn_right {
    display: block;
    width: 46px;
    height: 46px;;
    border: 2px solid white;
    position: absolute;
    left: 161px;
    top:79px;
}
.btn_bot {
    display: block;
    width: 161px;
    height: 46px;
    border: 2px solid white;
    position: absolute;
    left: 45px;
    top:147px;
    background-color: #323232;
}
svg{
    width: 26px;
    height: 26px;
    fill: #fff;
    margin: 10px;
}

.basket{
    float: left;

}
.add_cart{
    float:right;
    margin: 16px 17px;
    color: #fff;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.overlay a:hover{
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
}

.item:hover .overlay{
    opacity: 1;
}
.item:hover .name{
    background-color: #1abc9c;
}
.item:hover .price{
    background-color: #7fd9c7;
}
/*overlay*/
    
/*clearfix*/
.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
  .clearfix::before {
    content: "";
    clear: both;
    display: block;
  }
  /*clearfix*/