*{
    margin: 0;
    padding: 0;
}
.header{
    background: url(../img/bg.jpg) 100% 100% no-repeat;
    background-size: cover;
    background:-webkit-gradient( linear, left top, right top, from(rgb(252,227,138,0.9)), to(rgb(243,129,129,0.9))),
    url(../img/bg.jpg);
    background:-webkit-linear-gradient( left, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg.jpg);
    background:-o-linear-gradient( left, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg.jpg);
    background:linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg.jpg);
    background:linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg.jpg);
    background:linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg.jpg);
    background-position: center;
    height: 1000px;
    margin-bottom: 50px;
}
@media(-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-resolution:2dppx){
    .header{
    background: url(../img/bg@2x.jpg) 100% 100% no-repeat;
    background-size: cover;
    background:-webkit-gradient( linear, left top, right top, from(rgb(252,227,138,0.9)), to(rgb(243,129,129,0.9))),
    url(../img/bg@2x.jpg);
    background:-webkit-linear-gradient( left, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg@2x.jpg);
    background:-o-linear-gradient( left, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg@2x.jpg);
    background:linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg@2x.jpg);
    background:linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg@2x.jpg);
    background:linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg@2x.jpg);
    background-position: center;

}
}
@media(-webkit-min-device-pixel-ratio:3), (-o-min-device-pixel-ratio:3/1), (min-resolution:288dpi), (min-resolution:3dppx){
    .header{
    background: url(../img/bg@3x.jpg) 100% 100% no-repeat;
    background-size: cover;
    background:-webkit-gradient( linear, left top, right top, from(rgb(252,227,138,0.9)), to(rgb(243,129,129,0.9))),
    url(../img/bg@3x.jpg);
    background:-webkit-linear-gradient( left, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg@3x.jpg);
    background:-o-linear-gradient( left, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg@3x.jpg);
    background:linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg@3x.jpg);
    background:linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg@3x.jpg);
    background:linear-gradient( 90deg, rgb(252,227,138,0.9) 0%, rgb(243,129,129,0.9) 100%),
    url(../img/bg@3x.jpg);
    background-position: center;
}
}
.nav{
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    padding-top: 40px;
    padding-bottom: 165px;
}
.nav_menu--list{
    display: inline-block;
}
.nav_item{
    display: inline-block;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    padding: 0 30px;
    font-weight: 400;
}
.nav_item-icon{
    fill: #fff;
}
.nav_item-icon:hover{
    fill: #fce38a;
}
.nav_item:hover{
    color: #fce38a;
}
.nav_item:hover::after{
    content:'';
    display:block;
    width:100%;
    height:3px;
    background:#fce38a;
    margin-top: 10px;
}
.head_title--prev{
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script';
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}
.head_title{
    width: 845px;
    font-size: 150px;
    color: #fff;
    font-family:'Montserrat', sans-serif; ;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.head_button{
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 40px;
    text-transform: capitalize;
    font-family:'Montserrat', sans-serif; ;
    font-weight: 600;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    border: 3px solid #fff;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

/*Services*/
.servises_title-prev{
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script';
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    padding-bottom: 25px;
}
.servises_title{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
}
h2:after{
    content:'';
    display: block;
    width: 60px;
    height: 3px;
    background:#f38181;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 65px;
}
.services{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 250px;
    -ms-flex-line-pack: justify;
        align-content: space-between;
}
.services_item{
    width:380px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10px;
}
.services_item-box{
width: 300px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.services_item-img{
    width: 80px;
    height: 80px;
    fill: #95e1d3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.services_item-title{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #4d4d4d;
}
.services_item-text{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #cccccc;
    line-height: 25px;
}

/*Services*/
/*Team*/
#team{
    padding-top: 90px;
}
.team_title-prev{
    font-size: 24px;
    font-family: 'Kaushan Script';
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.team_title{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
}


.team_title_after{
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    padding: 0px 125px 95px 125px;
    color: #999999;
    line-height: 25px;
}
.team{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.team_member{
    width: 380px;
    height: 625px;
}

.team_photo-box{
    background-color: rgb(149, 225, 211);
    width: 380px;
    height: 470px;
    position: relative;
    cursor: pointer;
}

.team_card{
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: -webkit-linear-gradient( 90deg, rgb(252,227,138,0.5) 0%, rgb(243,129,129,0.5) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(252,227,138,0.5) 0%, rgb(243,129,129,0.5) 100%);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity:0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}
.team_info-name{
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 30px;
    font-weight: normal;
    color: #404040;
}

.team_photo{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.team_photo-box:hover .team_card{
    opacity: 1;
    -webkit-transform: translate(-10px,-10px);
        -ms-transform: translate(-10px,-10px);
            transform: translate(-10px,-10px);
}
.team_photo-box:hover .team_photo{
    -webkit-transform: translate(-10px,-10px);
        -ms-transform: translate(-10px,-10px);
            transform: translate(-10px,-10px);
}


.team_info-prof{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
    padding-top: 15px;
    color: #acacac;
    font-style: italic;
}

.team_card--link{
    position: relative;
    display: block;
    background-color: #fce38a;
    width: 55px;
    height: 55px;
    margin:0px 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.teem_card--icon{
    fill: #f38181;
}
.teem_card--icon-1{
    width: 13px;
    height: 26px;
}
.teem_card--icon-2{
    width: 26px;
    height: 22px;
}
.teem_card--icon-3{
    width: 21px;
    height: 26px;
}
.teem_card--icon-4{
    width: 26px;
    height: 26px;
}
.team_card--link:hover{
    background: #f38181
}
.team_card--link:hover .teem_card--icon{
    fill: #fff;
}
/*Team*/

/*Footer*/
.footer{
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
hr{
    width: 100%;
    color: #e5e5e5;
    background-color: #e5e5e5;
    height: 1px;
    border: none;
    margin-bottom: 10px;
}

#email{
    width: 240px;
    height: 40px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    border: solid 1px #e7e7e7;
    color: #e7e7e7;
    border-right: none;
    padding: 15px;
    float: left;
}    
::-webkit-input-placeholder {
    color:#d9d9d9

}
::-moz-placeholder          {
    color:#d9d9d9;

}
:-moz-placeholder           {
    color:#d9d9d9;
}
:-ms-input-placeholder      {
    color:#d9d9d9;
padding-right: 5px;
}
:focus::-webkit-input-placeholder {
    color: transparent;
}
:focus::-moz-placeholder          {
    color: transparent;
}
:focus:-moz-placeholder           {
    color: transparent;
}
:focus:-ms-input-placeholder      {
    color: transparent;
}

.button{
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    background-color: #95e1d3;
    color: white;
    border: none;
    cursor: pointer;
    vertical-align: top;
    padding: 0;
    float: left;
}
.footer p{
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

.text_color{
    color: #f9c6c6;
    text-decoration: none;
}
/*clearfix*/
.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
  .clearfix::before {
    content: "";
    clear: both;
    display: block;
  }
  /*clearfix*/
/*Footer*/

@media(-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio:2), (-o-min-device-pixel-ratio:2/1), (min-resolution:2dppx){

}