html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0 auto;
}

/*Menu*/
header{
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 125px;
    width: 940px;
}
ul{
    padding: 0px;
    margin: 0px;
}    
.menu{
    display: inline-block;
    text-decoration: none;
}

.menu a{
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 40px;
    color: #222;
}

.menu a:hover{
    color: #fed75e;
}
/*Menu*/

/*Services*/
.services{
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
}

.service_head h1{
    padding: 0px;
    margin: 0px;
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.service_head p{
    text-align: center;
    padding-bottom: 40px;
}
.service{
    width: 290px;
    height: 230px;
    margin-bottom: 105px;
}
.service h4{
    padding: 0;
    margin: 0;
    text-align: center;
}
.service p{
    text-align: center;
}
.img_box{
    width: 290px;
    height: 105px;
    position: relative;
}
.img_box img{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
/*Services*/

.contact_bgc{
    height: 675px;
    background: url(/img/Map.png) 100% 100% no-repeat; 
    background-size: cover; 
}
.contact{
    width: 940px;
    margin: 0 auto;
}
.contact_head h1{
    padding: 0px;
    margin: 0px;
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 110px;
}
.contact_head p{
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom:0px 125px 75px;
    color: #777777;
}
.contact_info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}

.info{
    width: 450px;
    height: 50px;
    border-radius: 2px;
    text-transform: uppercase;
}
textarea{
    width: 450px;
    height: 200px;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
}
.input_box{
    width: 455px;
    display: flex;
    justify-content:  space-between;
    flex-direction: column;
}
.btn{
    width: 240px;
    height: 65px;
    background-color: #fed136;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 350px;
    cursor: pointer;
}
    